<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyudaima.mapper.CertificateMapper">

    <resultMap id="BaseResultMap" type="com.chenyudaima.model.Certificate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="manufacturingCountry" column="manufacturing_country" jdbcType="VARCHAR"/>
            <result property="vehicleType" column="vehicle_type" jdbcType="VARCHAR"/>
            <result property="vehicleIdentificationNumber" column="vehicle_identification_number" jdbcType="VARCHAR"/>
            <result property="engineType" column="engine_type" jdbcType="VARCHAR"/>
            <result property="engineCapacity" column="engine_capacity" jdbcType="VARCHAR"/>
            <result property="maximumNetEnginePower" column="maximum_net_engine_power" jdbcType="VARCHAR"/>
            <result property="vintage" column="vintage" jdbcType="VARCHAR"/>
            <result property="maximumAllowableTotalMass" column="maximum_allowable_total_mass" jdbcType="VARCHAR"/>
            <result property="numberOfPassengers" column="number_of_passengers" jdbcType="VARCHAR"/>
            <result property="nameOfManufacturer" column="name_of_manufacturer" jdbcType="VARCHAR"/>
            <result property="manufacturerSpecialNumber" column="manufacturer_special_number" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,brand,manufacturing_country,
        vehicle_type,vehicle_identification_number,engine_type,
        engine_capacity,maximum_net_engine_power,vintage,
        maximum_allowable_total_mass,number_of_passengers,name_of_manufacturer,
        manufacturer_special_number
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from certificate
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from certificate
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.chenyudaima.model.Certificate" useGeneratedKeys="true">
        insert into certificate
        ( id,brand,manufacturing_country
        ,vehicle_type,vehicle_identification_number,engine_type
        ,engine_capacity,maximum_net_engine_power,vintage
        ,maximum_allowable_total_mass,number_of_passengers,name_of_manufacturer
        ,manufacturer_special_number)
        values (#{id,jdbcType=INTEGER},#{brand,jdbcType=VARCHAR},#{manufacturingCountry,jdbcType=VARCHAR}
        ,#{vehicleType,jdbcType=VARCHAR},#{vehicleIdentificationNumber,jdbcType=VARCHAR},#{engineType,jdbcType=VARCHAR}
        ,#{engineCapacity,jdbcType=VARCHAR},#{maximumNetEnginePower,jdbcType=VARCHAR},#{vintage,jdbcType=VARCHAR}
        ,#{maximumAllowableTotalMass,jdbcType=VARCHAR},#{numberOfPassengers,jdbcType=VARCHAR},#{nameOfManufacturer,jdbcType=VARCHAR}
        ,#{manufacturerSpecialNumber,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.chenyudaima.model.Certificate" useGeneratedKeys="true">
        insert into certificate
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="brand != null">brand,</if>
                <if test="manufacturingCountry != null">manufacturing_country,</if>
                <if test="vehicleType != null">vehicle_type,</if>
                <if test="vehicleIdentificationNumber != null">vehicle_identification_number,</if>
                <if test="engineType != null">engine_type,</if>
                <if test="engineCapacity != null">engine_capacity,</if>
                <if test="maximumNetEnginePower != null">maximum_net_engine_power,</if>
                <if test="vintage != null">vintage,</if>
                <if test="maximumAllowableTotalMass != null">maximum_allowable_total_mass,</if>
                <if test="numberOfPassengers != null">number_of_passengers,</if>
                <if test="nameOfManufacturer != null">name_of_manufacturer,</if>
                <if test="manufacturerSpecialNumber != null">manufacturer_special_number,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="brand != null">#{brand,jdbcType=VARCHAR},</if>
                <if test="manufacturingCountry != null">#{manufacturingCountry,jdbcType=VARCHAR},</if>
                <if test="vehicleType != null">#{vehicleType,jdbcType=VARCHAR},</if>
                <if test="vehicleIdentificationNumber != null">#{vehicleIdentificationNumber,jdbcType=VARCHAR},</if>
                <if test="engineType != null">#{engineType,jdbcType=VARCHAR},</if>
                <if test="engineCapacity != null">#{engineCapacity,jdbcType=VARCHAR},</if>
                <if test="maximumNetEnginePower != null">#{maximumNetEnginePower,jdbcType=VARCHAR},</if>
                <if test="vintage != null">#{vintage,jdbcType=VARCHAR},</if>
                <if test="maximumAllowableTotalMass != null">#{maximumAllowableTotalMass,jdbcType=VARCHAR},</if>
                <if test="numberOfPassengers != null">#{numberOfPassengers,jdbcType=VARCHAR},</if>
                <if test="nameOfManufacturer != null">#{nameOfManufacturer,jdbcType=VARCHAR},</if>
                <if test="manufacturerSpecialNumber != null">#{manufacturerSpecialNumber,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chenyudaima.model.Certificate">
        update certificate
        <set>
                <if test="brand != null">
                    brand = #{brand,jdbcType=VARCHAR},
                </if>
                <if test="manufacturingCountry != null">
                    manufacturing_country = #{manufacturingCountry,jdbcType=VARCHAR},
                </if>
                <if test="vehicleType != null">
                    vehicle_type = #{vehicleType,jdbcType=VARCHAR},
                </if>
                <if test="vehicleIdentificationNumber != null">
                    vehicle_identification_number = #{vehicleIdentificationNumber,jdbcType=VARCHAR},
                </if>
                <if test="engineType != null">
                    engine_type = #{engineType,jdbcType=VARCHAR},
                </if>
                <if test="engineCapacity != null">
                    engine_capacity = #{engineCapacity,jdbcType=VARCHAR},
                </if>
                <if test="maximumNetEnginePower != null">
                    maximum_net_engine_power = #{maximumNetEnginePower,jdbcType=VARCHAR},
                </if>
                <if test="vintage != null">
                    vintage = #{vintage,jdbcType=VARCHAR},
                </if>
                <if test="maximumAllowableTotalMass != null">
                    maximum_allowable_total_mass = #{maximumAllowableTotalMass,jdbcType=VARCHAR},
                </if>
                <if test="numberOfPassengers != null">
                    number_of_passengers = #{numberOfPassengers,jdbcType=VARCHAR},
                </if>
                <if test="nameOfManufacturer != null">
                    name_of_manufacturer = #{nameOfManufacturer,jdbcType=VARCHAR},
                </if>
                <if test="manufacturerSpecialNumber != null">
                    manufacturer_special_number = #{manufacturerSpecialNumber,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chenyudaima.model.Certificate">
        update certificate
        set 
            brand =  #{brand,jdbcType=VARCHAR},
            manufacturing_country =  #{manufacturingCountry,jdbcType=VARCHAR},
            vehicle_type =  #{vehicleType,jdbcType=VARCHAR},
            vehicle_identification_number =  #{vehicleIdentificationNumber,jdbcType=VARCHAR},
            engine_type =  #{engineType,jdbcType=VARCHAR},
            engine_capacity =  #{engineCapacity,jdbcType=VARCHAR},
            maximum_net_engine_power =  #{maximumNetEnginePower,jdbcType=VARCHAR},
            vintage =  #{vintage,jdbcType=VARCHAR},
            maximum_allowable_total_mass =  #{maximumAllowableTotalMass,jdbcType=VARCHAR},
            number_of_passengers =  #{numberOfPassengers,jdbcType=VARCHAR},
            name_of_manufacturer =  #{nameOfManufacturer,jdbcType=VARCHAR},
            manufacturer_special_number =  #{manufacturerSpecialNumber,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
