<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyudaima.mapper.SysMenuMapper">


    <sql id="Base_Column_List">
        id,`name`,parent_id,
        router_path,router_component,icon,`description`,`order`
    </sql>

    <insert id="insert">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null"> name, </if>
            <if test="parentId != null"> parent_id, </if>
            <if test="routerPath != null"> router_path, </if>
            <if test="routerComponent != null"> router_component, </if>
            <if test="icon != null"> icon, </if>
            <if test="order != null"> `order`, </if>
            <if test="description != null"> `description`, </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null"> #{name}, </if>
            <if test="parentId != null"> #{parentId}, </if>
            <if test="routerPath != null"> #{routerPath}, </if>
            <if test="routerComponent != null"> #{routerComponent}, </if>
            <if test="icon != null"> #{icon}, </if>
            <if test="order != null"> #{order}, </if>
            <if test="description != null"> #{description}, </if>
        </trim>
    </insert>

    <update id="update">
        update sys_menu
        <set>
            <if test="name != null">name=#{name},</if>
            parent_id=#{parentId},
            <if test="routerPath != null">router_path=#{routerPath},</if>
            <if test="routerComponent != null">router_component=#{routerComponent},</if>
            <if test="icon != null">icon=#{icon},</if>
            <if test="order != null">`order`=#{order},</if>
            <if test="description != null">`description`=#{description},</if>
        </set>
        where id=#{id}
    </update>

    <update id="drag">
        update sys_menu set parent_id = #{dropSysMenuId} where id = #{draggingSysMenuId}
    </update>

    <delete id="deleteById">
        delete from sys_menu where id = #{id}
    </delete>

    <delete id="deleteByIdBatch">
        delete from sys_menu where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="selectByUserId" resultType="com.chenyudaima.vo.SysMenuVo">
        SELECT
            <include refid="Base_Column_List"/>
        FROM sys_menu
        where id in (select menu_id
                     from sys_role_menu
                     where role_id in (select role_id
                                       from sys_user_role
                                       where user_id = #{id}))
        order by `order` desc

    </select>


    <select id="selectCount" resultType="java.lang.Long">
        select count(*) from sys_menu
        <where>
            <if test="name != null and name != ''">and name=#{name}</if>
            <if test="routerPath != null and routerPath != ''">and router_path=#{routerPath}</if>
            <if test="routerComponent != null and routerComponent != ''">and router_component=#{routerComponent}</if>
        </where>
    </select>

    <select id="selectAll" resultType="com.chenyudaima.vo.SysMenuVo">
        select <include refid="Base_Column_List"/> from sys_menu order by `order` desc
    </select>

</mapper>
