<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="jquery-3.4.1.min.js"></script>

</head>
<body>



    <input type="text" name="username"/>


    <input type="password" name="password"/>

    <span id="message"></span>
    <button id="login">登录</button>



</body>

<script>

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toGMTString();

        document.cookie = cname + "=" + cvalue + "; " + expires + ";path=/;SameSite=None;Secure;domain=.localhost:8084";
    };

 $(function () {
     $("#login").click(function () {

         $.ajax({
             url:'/doLogin',
             type: "post",
             data:{
                 userName:$("input[name='username']").val(),
                 password:$("input[name='password']").val(),
             },
             success:function (data) {
                 if(data.code) {
                     //拿着令牌去另一个网页，并且设置cookie
                     setCookie("utgawfga","张三",1)

                 }else {
                     $("#message").text(data.message)
                 }
             }
         })
     })
 })
</script>

</html>
